{% extends "base.html" %}
{% block title %}My Permits{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>My Permits</h2>
    
    <a href="{% url 'new_permit' %}" class="btn btn-primary mb-3">Create New Permit</a>

    {% if permits %}
        <ul class="list-group">
            {% for permit in permits %}
                <li class="list-group-item">
                    {{ permit.permit_type }} - {{ permit.status }}
                    <a href="{% url 'permit_detail' permit.uid %}">View Details</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You have no permits yet. Start by creating a new one!</p>
        <a href="{% url 'new_permit' %}" class="btn btn-success mt-3">Create First Permit</a>
    {% endif %}

</div>
{% endblock %}